<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<title>Modificar producto</title>


<div class="container-fluid">
    <div class="d-flex justify-content-center" style="padding-top: 10%">
        <h1>Modificar producto</h1>
    </div>
    <div class="d-flex justify-content-center" style="padding-top: 10%">
        <form method="POST" action="/productos/searchUpdate">
            {% csrf_token %}
            <input type="text" name="textfield">
            <button class="btn btn-primary" type="submit" name="searchUpdate">Enviar</button>
        </form>
    </div>
    <div class="d-flex justify-content-center" style="padding-top: 2%">
        <form action='' method='POST'>{% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center" style="padding-top: 3%">
                <input type='submit' value='Aceptar' name="update" class="btn btn-success"/>
            </div>
        </form>
    </div>

    <div class="d-flex justify-content-center" style="padding-top: 3%">
        <a class="btn btn-outline-primary" href="/home/" role="button" style="margin-top:2%">Volver</a>
    </div>
</div>